:root {
  --color-primary: #007aff;
  --color-blue: #007aff;
  --color-red: #ff2d55;
  --color-green: #4cd964;
  --color-yellow: #ffcc00;
  --color-light: #f4f4f4;
  --color-dark: #000;

  --color-border: #ced6e0;
  --color-background: #f1f2f6;
  --color-wrap: rgba(0, 0, 0, 0.45);

  --size-header-height: 70px;
  --size-side-width: 200px;

  --size-formItem-width: 200px;
}

body {
  background-color: #f5f5f5;
}

.debug {
  display: flex;
  background-color: #2d2f42;
  color: #6bc27a;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  white-space: pre-wrap;
  line-height: 1.2;
}

.page {
  padding: 15px;
  /* width: calc(100vw - var(--size-side-width)); */
  overflow: auto;
  .el-card {
    margin-bottom: 20px;
  }
}

.el-form {
  .el-form-item {
    .el-input {
      width: var(--size-formItem-width);
    }
    .el-select {
      width: var(--size-formItem-width);
    }
  }
}

.el-cascader .el-input {
  width: 100% !important;
}

.el-table {
  .el-table__cell.el-table__expanded-cell {
    padding: 10px;
    padding-left: 100px;
    background-color: var(--color-background);
  }
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.tableRowWithAction {
  .extendAction {
    display: inline-block;
    transition: all 0.3s;
    margin-left: 10px;
    transform: translateX(150px);
  }
  &:hover {
    .extendAction {
      transform: translateX(0);
    }
  }
}

.pageActionBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
